In [1]:
# Dependencies
import tweepy
import json
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
# Twitter API Keys
consumer_key = 'SYTnLXrii4S3WlaMlvbQkHXY5'
consumer_secret = 'QhpDbZ8qbB971WTKkQtCtKxC4RN7D4zcjDYIcVO8nMchoKv1fv'
access_token = '866777141567991810-cquWcZc7G9knRgPV5l0ga8s74p4QGfq'
access_token_secret = 'igdaEFPXUswtpN1eCdPs84Aq0LMDCXgU0Fx5BfgO3EuNu'

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [3]:
target_terms = ("@BBC", "@CBS", "@FoxNews", "@nytimes", "@CNN")

In [4]:
news_room = pd.DataFrame(columns = ['source_account', 'source_name', 'text', 'tweet_time', 'compound', 'positive', 'neutral', 'negative', 
                                    'tweet_datetime', 'time_in_between'])

In [5]:
# Loop through all target users
for target in target_terms:
    
    tweet_times = []  
    #datetime = []
    # Run search around each tweet
    public_tweets = api.search(target, count=100, result_type="recent")

    # Loop through all tweets
    for tweet in public_tweets["statuses"]:

        # Run Vader Analysis on each tweet
        source = target
        text = tweet["text"]
        
        tweet_time = tweet["created_at"]
        #tweet_datetime = datetime.strptime(tweet["created_at"], "%a %b %d %H:%M:%S %z %Y")
        
        #datetime.append(tweet_datetime)
                
        tweet_times.append(tweet["created_at"])
        
        
        
        compound = analyzer.polarity_scores(tweet["text"])["compound"]
        pos = analyzer.polarity_scores(tweet["text"])["pos"]
        neu = analyzer.polarity_scores(tweet["text"])["neu"]
        neg = analyzer.polarity_scores(tweet["text"])["neg"]
        
         
        news_room = news_room.append({'source_account': source,
                                      'text':text,
                                      'tweet_time': tweet_time,
                                      'compound': compound, 
                                     'positive': pos,
                                     'neutral': neu,
                                     'negative': neg
                                     }, ignore_index=True)
        
            
        # Convert all tweet times into datetime objects
        tweet_time_objects = []

        # Add each datetime object into the array
        for x in range(len(tweet_times)):
            tweet_datetime = datetime.strptime(tweet_times[x], "%a %b %d %H:%M:%S %z %Y")
            tweet_time_objects.append(tweet_datetime)
            
        # Calculate the time between tweets
        time_in_between = []
        
        # Calculate the time in between each tweet
        
        for x in range(len(tweet_time_objects)-1):
            secs_apart = ((tweet_time_objects[x] - tweet_time_objects[x+1]).seconds)
            time_in_between.append(secs_apart)
            
        news_room = news_room.append({'tweet_datetime': tweet_datetime, 
                                      'time_in_between': time_in_between}, ignore_index=True)
        
        
        
news_room.head()

,source_account,source_name,text,tweet_time,compound,positive,neutral,negative,tweet_datetime,time_in_between
0,@BBC,NaN,RT @BBC: 'It's one of those stories you think ...,Sun Nov 05 17:02:59 +0000 2017,0.0000,0.000,1.000,0.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:59+00:00,[]
2,@BBC,NaN,RT @atrevidaforever: Is 'Weinsteining' getting...,Sun Nov 05 17:02:42 +0000 2017,0.4939,0.198,0.802,0.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:42+00:00,[17]
4,@BBC,NaN,RT @BBC: üêô A group of octopuses were seen taki...,Sun Nov 05 17:02:33 +0000 2017,0.0000,0.000,1.000,0.0,NaN,NaN

In [ ]:
news_room['tweet_datetime'] = pd.to_datetime(news_room['tweet_time'])
news_room['source_name']= news_room.replace({'source_account': {'@':''}}, regex=True)
news_room.head()

In [ ]:
for tweet_datetime in news_room:
    print(news_room[tweet_datetime])

In [ ]:
for index, row in news_room.iterrows():
    print(row['tweet_datetime'])

In [ ]:
len(time_in_between)

In [6]:
news_room

,source_account,source_name,text,tweet_time,compound,positive,neutral,negative,tweet_datetime,time_in_between
0,@BBC,NaN,RT @BBC: 'It's one of those stories you think ...,Sun Nov 05 17:02:59 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:59+00:00,[]
2,@BBC,NaN,RT @atrevidaforever: Is 'Weinsteining' getting...,Sun Nov 05 17:02:42 +0000 2017,0.4939,0.198,0.802,0.000,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:42+00:00,[17]
4,@BBC,NaN,RT @BBC: üêô A group of octopuses were seen taki...,Sun Nov 05 17:02:33 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:33+00:00,"[17, 9]"
6,@BBC,NaN,#lka #sriLanka @ApiWenuwen @Suji_Gun @LankaVoi...,Sun Nov 05 17:02:09 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:09+00:00,"[17, 9, 24]"
8,@BBC,NaN,@WhistlePunksUK @Harry_Styles @BBC @grimmers I...,Sun Nov 05 17:01:58 +0000 2017,0.8934,0.572,0.428,0.000,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:01:58+00:00,"[17, 9, 24, 11]"
10,@BBC,NaN,"RT @TurkeyDeeply: MADNESS |\n\n""Non-Buddhist n...",Sun Nov 05 17:01:35 +0000 2017,-0.8573,0.064,0.606,0.330,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:01:35+00:00,"[17, 9, 24, 11, 23]"
12,@BBC,NaN,AI our saviour or our last invention and the g...,Sun Nov 05 17:01:31 +0000 2017,0.2023,0.158,0.714,0.128,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:01:31+00:00,"[17, 9, 24, 11, 23, 4]"
14,@BBC,NaN,AI our saviour or our last invention and the g...,Sun Nov 05 17:01:23 +0000 2017,0.2023,0.158,0.714,0.128,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:01:23+00:00,"[17, 9, 24, 11, 23, 4, 8]"
16,@BBC,NaN,@piersmorgan Every time this monumental tit op...,Sun Nov 05 17:01:20 +0000 2017,-0.4404,0.000,0.879,0.121,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:01:20+00:00,"[17, 9, 24, 11, 23, 4, 8, 3]"
18,@BBC,NaN,RT @RoseFlorian7: @BBC @CBC @ASITHAPPENS https...,Sun Nov 05 17:00:56 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:56+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24]"
20,@BBC,NaN,RT @RoseFlorian7: @BBC @CBC @ASITHAPPENS https...,Sun Nov 05 17:00:54 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:54+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24, 2]"
22,@BBC,NaN,RT @RoseFlorian7: @BBC @CBC @ASITHAPPENS https...,Sun Nov 05 17:00:49 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:49+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24, 2, 5]"
24,@BBC,NaN,RT @RoseFlorian7: @BBC @CBC @ASITHAPPENS https...,Sun Nov 05 17:00:45 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:45+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24, 2, 5, 4]"
26,@BBC,NaN,RT @RoseFlorian7: @BBC @CBC @ASITHAPPENS https...,Sun Nov 05 17:00:43 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:43+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24, 2, 5, 4, 2]"
28,@BBC,NaN,#lka #sriLanka @ApiWenuwen @Suji_Gun @LankaVoi...,Sun Nov 05 17:00:42 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:00:42+00:00,"[17, 9, 24, 11, 23, 4, 8, 3, 24, 2, 5, 4, 2, 1]"
...,...,...,...,...,...,...,...,...,...,...
970,@CNN,NaN,@CNN @brianstelter Stop feeding into her lies ...,Sun Nov 05 17:02:20 +0000 2017,-0.1901,0.072,0.784,0.144,NaN,NaN
971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:20+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
972,@CNN,NaN,RT @ari_russian: Congrats Kellyanne!!! A compl...,Sun Nov 05 17:02:18 +0000 2017,-0.5908,0.182,0.512,0.305,NaN,NaN
973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
974,@CNN,NaN,@CNN @RonanFarrow https://t.co/YjlTMDQnrj,Sun Nov 05 17:02:18 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
976,@CNN,NaN,RT @CNY4Trump2020: I believe Japan Prime Minis...,Sun Nov 05 17:02:18 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
978,@CNN,NaN,@Brenda_Duk @CNN @brianstelter @KellyannePolls...,Sun Nov 05 17:02:18 +0000 2017,0.0000,0.119,0.762,0.119,NaN,NaN
979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
980,@CNN,NaN,RT @CNN: Alec Baldwin's President Trump shared...,Sun Nov 05 17:02:18 +0000 2017,0.3400,0.130,0.870,0.000,NaN,NaN
981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
982,@CNN,NaN,@CNN @brianstelter This is why ppl say ‚Äúfake n...,Sun Nov 05 17:02:18 +0000 2017,0.3818,0.102,0.898,0.000,NaN,NaN
983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:18+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
984,@CNN,NaN,@CNN Alternative facts?,Sun Nov 05 17:02:17 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:17+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
986,@CNN,NaN,RT @Whatifnews444: @CernovichNews @pink_lady56...,Sun Nov 05 17:02:16 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:16+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
988,@CNN,NaN,"@1PoetAngel @CNN I am sorry to ask, because I ...",Sun Nov 05 17:02:16 +0000 2017,-0.0387,0.000,0.948,0.052,NaN,NaN
989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:16+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
990,@CNN,NaN,@MetalMilitia74 @ray_dodgers @SeanShammity @Mi...,Sun Nov 05 17:02:16 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:16+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
992,@CNN,NaN,"RT @CNN: .@brianstelter to Kellyanne Conway: ""...",Sun Nov 05 17:02:15 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:15+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
994,@CNN,NaN,@CNN @brianstelter Why give airtime to traitors?,Sun Nov 05 17:02:14 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:14+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
996,@CNN,NaN,"RT @CNN: AirlineRatings names ""most excellent""...",Sun Nov 05 17:02:14 +0000 2017,0.6997,0.234,0.766,0.000,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:14+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."
998,@CNN,NaN,RT @MtnMD: @springerjon @anonycraig @RWPUSA @t...,Sun Nov 05 17:02:12 +0000 2017,0.0000,0.000,1.000,0.000,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-05 17:02:12+00:00,"[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, ..."